
img{
  width: 90%;
  margin-top: 15%;
  margin-right: 5%;
  margin-left: 5%;
}
footer {
    background: #474747;
    color: #ffffff;
}
footer ul {
    padding: 0;
}
footer ul li {
    padding-bottom: 20px;
    text-align: center;
    list-style-type: none;
    display: block;
    margin: auto;
}

footer ul li a {
    color: #ffffff;
}

footer ul li a:hover {
    color: #ff0000;
    text-decoration: none;
}
.fa {
    color: red;
}
.block {
    background: #ffffff;
    width: 30px;
    height: 30px;
    display: inline-block;
}
img {
    width: 90%;
    margin-top: 15%;
    margin-right: 5%;
    margin-left: 5%;
}

#checkoutHead  h1{
    padding-bottom: 20px;
}

#shippingContent  h4{
    padding-bottom: 20px;
}

#billingContent h4 {
    padding-bottom: 20px;
}

.part {
    padding-bottom: 20px;
}

#purchase:hover {
    color: #ffffff;
    background: #000;
}